<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href=" /style.css">
</head>
<body>
    <h1 >Insights</h1>
    <hr>
   <% for(post of posts){ %> 
        <div>
            <h3 class="user">@<%=post.username%></h3>
            <h4 class="content"><%=post.content%> </h4>
                <a href="show/<%= post.id %>">See in detail</a>
                <a href="/<%= post.id %>/edit">Edit</a>
                 <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
            <button>delete post</button>
        </form>
        
        </div>
        
        <hr/>

    <% } %>
    <hr>
    <a href="/new">Create new Post</a>
    
</body>
</html>
